<% if !@selected_article.nil? %>
	<% line = "" %>
	<div class="article_details">
	
		<% if !@selected_article.title.blank? %>
			<h3><%= @selected_article.title %></h3>
		<% end %>	
		<p>
		<% line_string = "" %>
		<% if !@selected_article.published_in.blank? %>
			<% line_string = "Erschienen in <i>#{ @selected_article.published_in }</i>" %>
		<% end %>
		<% if !@selected_article.article_type.blank? %>
			<% if !line_string.blank? %> 
				<% line_string = line_string + ", " %>
			<% end %>
			<% line_string = line_string + "#{@selected_article.article_type}" %>
		<% end %>
		<% if !@selected_article.published_date.blank? %>
			<% if !line_string.blank? %> 
				<% line_string = line_string + ", " %>
			<% end %> 
			<% line_string = line_string + "#{l @selected_article.published_date, :format => :long}" %>
		<% end %>
		<% if !line_string.blank? %> 
				<%= raw line_string %><br>
		<% end %> 

		<% line_string = "" %>
		<% if !@selected_article.country.blank? %>
			<% if !line_string.blank? %> 
				<% line_string = line_string + ", " %>
			<% end %>
			<% line_string = line_string + "Land: #{@selected_article.country}" %>
		<% end %>
		<% if !@selected_article.author.blank? %>
			<% if !line_string.blank? %> 
				<% line_string = line_string + ", " %>
			<% end %>
			<% line_string = line_string + "Text: #{@selected_article.author}" %>
		<% end %>
		<% if !@selected_article.photos_by.blank? %>
			<% if !line_string.blank? %> 
				<% line_string = line_string + ", " %>
			<% end %> 
			<% line_string = line_string + "Fotos: #{@selected_article.photos_by}" %>
		<% end %>
		<% if !line_string.blank? %> 
				<%= raw line_string %><br>
		<% end %> 

		<% if !@selected_article.categories.nil? %>
			<% category_string = "" %>
			Kategorien: <% @selected_article.categories.each do |category| %> 
							<% if category_string.blank? %>
								<% category_string = category.name %>
							<% else %>
								<% category_string = category_string + ", " + category.name %>
							<% end %>
						<% end %>
						<%= category_string %>
		<% end %></p>
	</div>

	<% if !@selected_article.viewer_url.blank? %>
		<p>
			<%= link_to "Story in neuem Fenster Anzeigen", @selected_article.viewer_url, :target => '_blank', :class => "btn btn-small btn-primary" %>
<!-- 	<a class="btn" href="<%= @selected_article.viewer_url %>"><i class="icon-eye-open"></i></a> -->
		</p>
	<% end %>
	<% if @selected_article.teaser_image? %>
		<p>
			 <img src="<%= @selected_article.teaser_image.url(:medium) %>" alt="" class="thumbnail">
    </p>
	<% end %>
<% end %>