<% present @selected_article, 'StoryPresenter'.constantize do |story_presenter| %>
	<% @fb_description = "" %>
	<div class="article_details">
		<%= story_presenter.title %>
		<% line_string = "" %>
		<% line_string = story_presenter.published_in %>
		<% line_string = story_presenter.article_type(line_string) %>
		<% line_string = story_presenter.published_date(line_string) %>
		<% if line_string.present? %>
				<%= raw line_string %><br>
				<% @fb_description += raw(line_string) %>
		<% end %> 
		<% line_string = "" %>
		<div class="greyed_out">
			<% line_string = story_presenter.country %>
			<% line_string = story_presenter.author(line_string) %>
			<% line_string = story_presenter.photos_by(line_string) %>
			<% if line_string.present? %> 
					<%= raw line_string %><br>
					<% @fb_description = @fb_description + ", " + raw(line_string) %>
			<% end %> 
			<% if !@selected_article.categories.nil? %>
				<% category_string = story_presenter.category_list %>
				<%= category_string %>
				<% @fb_description += ", " + category_string %>
			<% end %>
		</div>
	</div>
	<%= story_presenter.source_file %>	
	<%= story_presenter.web_page %>	
	<%= render :partial => 'shared/map_button', :formats=>[:html], :handlers=>[:erb] %>
	<%= story_presenter.teaser_image %>
<% end %>