<% if !@selected_article.nil? %>
	<% if !@selected_article.title.blank? %>
		<p>Titel: <%= @selected_article.title %></p>
	<% end %>	
	<% if !@selected_article.author.blank? %>
		<p>Autor: <%= @selected_article.author %></p>
	<% end %>
	<% if !@selected_article.photos_by.blank? %>
		<p>Fotos: <%= @selected_article.photos_by %></p>
	<% end %>
	<% if !@selected_article.published_date.blank? %>
		<p>Erscheinungsdatum: <%= l @selected_article.published_date, :format => :long %></p>
	<% end %>
	<% if !@selected_article.published_in.blank? %>
		<p>Erschienen in: <%= @selected_article.published_in %></p>
	<% end %>
	<% if !@selected_article.language.blank? %>
		<p>Sprache: <%= @selected_article.language %></p>
	<% end %>
	<% if !@selected_article.country.blank? %>
		<p>Land: <%= @selected_article.country %></p>
	<% end %>
	<% if !@selected_article.categories.nil? %>
		<% category_string = "" %>
		<p>Kategorien: <% @selected_article.categories.each do |category| %> 
						<% if category_string.blank? %>
							<% category_string = category.name %>
						<% else %>
							<% category_string = category_string + ", " + category.name %>
						<% end %>
					<% end %>
					<%= category_string %></p>
	<% end %>
<% end %>