<% if !@selected_article.nil? %>
	<% line = "" %>
	<div class="article_details">
		<small>
		<% if !@selected_article.title.blank? %>
			Titel: <%= @selected_article.title %><br>
		<% end %>	

		<% line_string = "" %>
		<% if !@selected_article.published_in.blank? %>
			<% line_string = "Erschienen in <i>#{ @selected_article.published_in }</i>" %>
		<% end %>
		<% if !@selected_article.article_type.blank? %>
			<% if !line_string.blank? %> 
				<% line_string = line_string + ", " %>
			<% end %>
			<% line_string = line_string + "#{@selected_article.article_type}" %>
		<% end %>
		<% if !@selected_article.published_date.blank? %>
			<% if !line_string.blank? %> 
				<% line_string = line_string + ", " %>
			<% end %> 
			<% line_string = line_string + "#{l @selected_article.published_date, :format => :long}" %>
		<% end %>
		<% if !line_string.blank? %> 
				<%= raw line_string %><br>
		<% end %> 

		<% line_string = "" %>
		<% if !@selected_article.country.blank? %>
			<% if !line_string.blank? %> 
				<% line_string = line_string + ", " %>
			<% end %>
			<% line_string = line_string + "Land: #{@selected_article.country}" %>
		<% end %>
		<% if !@selected_article.author.blank? %>
			<% if !line_string.blank? %> 
				<% line_string = line_string + ", " %>
			<% end %>
			<% line_string = line_string + "Text: #{@selected_article.author}" %>
		<% end %>
		<% if !@selected_article.photos_by.blank? %>
			<% if !line_string.blank? %> 
				<% line_string = line_string + ", " %>
			<% end %> 
			<% line_string = line_string + "Fotos: #{@selected_article.photos_by}" %>
		<% end %>
		<% if !line_string.blank? %> 
				<%= raw line_string %><br>
		<% end %> 

		<% if !@selected_article.categories.nil? %>
			<% category_string = "" %>
			Kategorien: <% @selected_article.categories.each do |category| %> 
							<% if category_string.blank? %>
								<% category_string = category.name %>
							<% else %>
								<% category_string = category_string + ", " + category.name %>
							<% end %>
						<% end %>
						<%= category_string %>
		<% end %></small>
	</div>
	<% if !@selected_article.viewer_url.blank? %>
	<!-- 	<%= link_to "Story Anzeigen", @selected_article.viewer_url, :target => '_blank', :class => "btn" %> -->
<!-- 	<a class="btn" href="<%= @selected_article.viewer_url %>"><i class="icon-eye-open"></i></a> -->

	<% end %>
<% end %>
    <ul class="thumbnails">
    <li class="span3">
    <a href="<%= @selected_article.viewer_url %>" class="thumbnail" target="_blank">
    <img src="" alt="">
    </a>
    </ul>