<% if !@hit_list.nil? %>
	<div id="search_results">
	<% @format_for_map = true %>
	<p>
		<% if @no_of_hits == 0 %>
			<%= t(:no_hit) %>.
		<% elsif @no_of_hits == 1 %>
			<%= t(:hit) %>:
		<% else %>
			<%= @no_of_hits %> <%= t(:hits) %>: 
		<% end %>
	</p>
	<% @hit_list.each do |hit| %>
	  <div class="item_info">
	  	<% case hit.searchable.class.name %>
	  		<% when "Article" %>
			  	<% @selected_article = hit.searchable %>
			    <%= render :partial => 'stories/story_details', :formats=>[:html], :handlers=>[:erb] %>
		    <% when "RadioTrack" %>
		    	<% @selected_track = hit.searchable %>
			    <%= render :partial => 'radio_tracks/radio_track_details', :formats=>[:html], :handlers=>[:erb] %>
		    <% when "Video" %>
		    	<% @selected_video = hit.searchable %>
			    <%= render :partial => 'videos/video_details', :formats=>[:html], :handlers=>[:erb] %>
		    <% when "Post" %>
		    	<% @selected_post = hit.searchable %>
			    <%= render :partial => 'posts/post_details', :formats=>[:html], :handlers=>[:erb] %>
	    <% end %>
	  </div>
	  <br>
	<% end %>
	</div>
<% end %>