<% if !@selected_post.nil? %>
	<% line = "" %>
	<div class="post_details">
		<% if !@selected_post.title.blank? %>
			<h3><%= @selected_post.title %></h3>
		<% end %>	
		<p>
			<% line_string = "" %>
			<% if !@selected_post.updated_at.blank? %>
				<% if !line_string.blank? %> 
					<% line_string = line_string + ", " %>
				<% end %>
				<% line_string = line_string + "#{l @selected_post.updated_at, :format => :long}" %>
			<% end %>
			<% if !@selected_post.ctry.blank? %>
				<% if !line_string.blank? %> 
					<% line_string = line_string + ", " %>
				<% end %>
				<% line_string = line_string + t(:country) + ": #{@selected_post.ctry}" %>
			<% end %>
			<% if !@selected_post.author.blank? %>
				<% if !line_string.blank? %> 
					<% line_string = line_string + ", " %>
				<% end %>
				<% line_string = line_string + t(:text) + ": #{@selected_post.author}" %>
			<% end %>
			<% if !line_string.blank? %> 
					<%= raw line_string %><br>
			<% end %> 

			<% if !@selected_post.categories.nil? %>
				<% category_string = "" %>
					<%= t(:categories) %>: 
					<% @selected_post.categories.each do |category| %> 
					<% if category_string.blank? %>
						<% category_string = category.name %>
					<% else %>
						<% category_string = category_string + ", " + category.name %>
					<% end %>
				<% end %>
				<%= category_string %><br>
			<% end %>
		</p>
		<% if @selected_post.image_1? %>
			<% if @selected_post.image_1_options? %>
				<% split_arr = @selected_post.image_1_options.split(' - ') %>
				<% display_option = split_arr[0] %>	
				<% if display_option != "Don't display" %>
					<% image_size = split_arr[1].parameterize %>
					<% case display_option %>
						<% when "Display in Section 1 left" %>
							<img src="<%= @selected_post.image_1.url(image_size) %>" alt="" class="thumbnail pull-left" style="margin-right: 0.8em; margin-bottom: 0.3em">
						<% when "Display in Section 1 right" %>
							<img src="<%= @selected_post.image_1.url(image_size) %>" alt="" class="thumbnail pull-right" style="margin-left: 0.8em; margin-bottom: 0.3em">
					<% end %>		
				<% end %>	
			<% end %>				
		<% end %>
		<% if @selected_post.image_2? %>
			<% if @selected_post.image_2_options? %>
				<% split_arr = @selected_post.image_2_options.split(' - ') %>
				<% display_option = split_arr[0] %>	
				<% if display_option != "Don't display" %>
					<% image_size = split_arr[1].parameterize %>
					<% case display_option %>
						<% when "Display in Section 1 left" %>
							<img src="<%= @selected_post.image_2.url(image_size) %>" alt="" class="thumbnail pull-left" style="margin-right: 0.8em; margin-bottom: 0.3em">
						<% when "Display in Section 1 right" %>
							<img src="<%= @selected_post.image_2.url(image_size) %>" alt="" class="thumbnail pull-right" style="margin-left: 0.8em; margin-bottom: 0.3em">
					<% end %>		
				<% end %>	
			<% end %>				
		<% end %>
		<% if !@selected_post.text.blank? %>
			<p><%= raw @selected_post.text %></p>
		<% end %>	
		<% if @selected_post.image_1? %>
			<% if @selected_post.image_1_options? %>
				<% split_arr = @selected_post.image_1_options.split(' - ') %>
				<% display_option = split_arr[0] %>	
				<% if display_option != "Don't display" %>
					<% image_size = split_arr[1].parameterize %>
					<% case display_option %>
						<% when "Display in Section 2 left" %>
							<img src="<%= @selected_post.image_1.url(image_size) %>" alt="" class="thumbnail pull-left" style="margin-right: 0.8em; margin-bottom: 0.3em">
						<% when "Display in Section 2 right" %>
							<img src="<%= @selected_post.image_1.url(image_size) %>" alt="" class="thumbnail pull-right" style="margin-left: 0.8em; margin-bottom: 0.3em">
					<% end %>		
				<% end %>		
			<% end %>	
		<% end %>
		<% if @selected_post.image_2? %>
			<% if @selected_post.image_2_options? %>
				<% split_arr = @selected_post.image_2_options.split(' - ') %>
				<% display_option = split_arr[0] %>	
				<% if display_option != "Don't display" %>
					<% image_size = split_arr[1].parameterize %>
					<% case display_option %>
						<% when "Display in Section 2 left" %>
							<img src="<%= @selected_post.image_2.url(image_size) %>" alt="" class="thumbnail pull-left" style="margin-right: 0.8em; margin-bottom: 0.3em">
						<% when "Display in Section 2 right" %>
							<img src="<%= @selected_post.image_2.url(image_size) %>" alt="" class="thumbnail pull-right" style="margin-left: 0.8em; margin-bottom: 0.3em">
					<% end %>	
				<% end %>			
			<% end %>		
		<% end %>
		<% if !@selected_post.text_2.blank? %>
			<p><%= raw @selected_post.text_2 %></p>
		<% end %>
	</div>
<% end %>