<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "International Man", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-left">
        	<li><%= link_to 'Stories', '#' %></li>
        	<li><%= link_to 'Radio', '#' %></li>
        	<li><%= link_to 'TV', '#' %></li>
        	<li><%= link_to 'Corporate', '#' %></li>
        	<li><%= link_to 'Blog', '#' %></li>
        	<li><%= link_to 'Über mich', about_path %></li>
        	<li><%= link_to 'Kontakt', contact_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>