<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div id="logo_name_ab">
          <h1>Alexander Bühler</h1>
          <h2>Journalist</h2>
        </div>
      </div>    
      <div class="row-fluid">
        <div class="span2">
          <%= link_to 'Stories', '#' %><br>
          <%= link_to 'Radio', '#' %><br>
          <%= link_to 'TV', '#' %><br>
          <%= link_to 'Corporate', '#' %><br>
          <%= link_to 'Blog', '#' %><br>
          <%= link_to 'Über mich', about_path %><br>
          <%= link_to 'Kontakt', contact_path %><br>
        </div>
        <div class="span10">
          <div class="container">
            <%= yield %>
            <%= render 'layouts/footer' %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>