<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="http://cdn.sublimevideo.net/js/nv8041sd.js"></script>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
    
    <div class="container">
      <div class="row">
        <%= render 'layouts/nav_col_1' %>
        <div class="span1.5" id="navi_2">
          <ul class="nav nav-list"> 
            <% if !@story_categories.nil? %>
              <% for category in @story_categories %>
                <% if category == @selected_category %>
                  <li class="active">
                <% else %>
                  <li>
                <% end  %>
                  <%= link_to category.name, stories_path + '/' + category.url_name %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="span2.5" id="navi_3">
          <ul class="nav nav-list">
            <% if !@videos.nil? %>
              <% @stories = @videos %>
            <% end  %>
            <% if !@selected_video.nil? %>
              <% @selected_article = @selected_video %>
            <% end  %>
            <% if !@radio_tracks.nil? %>
              <% @stories = @radio_tracks %>
            <% end  %>
            <% if !@selected_track.nil? %>
              <% @selected_article = @selected_track %>
            <% end  %>
            <% if !@stories.nil? %>
              <% for article in @stories %>
                <% if article == @selected_article %>
                  <li class="active">
                <% else %>
                  <li>
                <% end  %>
                  <% if request.params["controller"] == "stories" %>
                    <% if !article.short_title.blank? %>
                      <%= link_to article.short_title, stories_path + '/' + 
                        @selected_category.url_name + '/' + article.url_title %>
                    <% else %>
                      <%= link_to article.title, stories_path + '/' + 
                        @selected_category.url_name + '/' + article.url_title %>
                    <% end  %>
                  <% else %>
                    <% case request.params["controller"] %>
                      <% when "corporate_articles" %>
                        <% path_string = corporate_path %>
                      <% when "posts" %>
                        <% path_string = blog %>
                      <% when "videos" %>
                        <% path_string = tv_path %>
                      <% when "radio_tracks" %>
                        <% path_string = radio_path %>
                    <% end  %>
                    <% if !article.short_title.blank? %>
                      <%= link_to article.short_title, path_string + '/' + article.url_title %>
                    <% else %>
                      <%= link_to article.title, path_string + '/' + article.url_title %>
                    <% end  %>
                  <% end  %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="span5.5" id="content">
          <div class="row">
            <%= render 'shared/message' %>
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <%= render 'layouts/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>