<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
    
    <div class="container">
      <div class="row">
        <div id="logo_name_ab">
          <h1>Alexander Bühler</h1>
          <h2>Journalist</h2>
        </div>
      </div>    
      <div class="row">
        <div class="span1.5" id="navicol_1">
          <ul class="nav nav-list">
            <% if request.params["controller"] == "stories" %>
              <li class="active">
            <% else %>
              <li>
            <% end  %>
              <%= link_to 'Stories', stories_path %>
            </li>
            <% if request.params["controller"] == "radio_tracks" %>
              <li class="active">
            <% else %>
              <li>
            <% end  %>
              <%= link_to 'Radio', radio_path %>
            </li>
            <% if request.params["controller"] == "videos" %>
              <li class="active">
            <% else %>
              <li>
            <% end  %>
              <%= link_to 'TV', tv_path %>
            </li>
            <% if request.params["controller"] == "corporate_articles" %>
              <li class="active">
            <% else %>
              <li>
            <% end  %>
              <%= link_to 'Corporate', corporate_path %>
            </li>
            <% if request.params["controller"] == "posts" %>
              <li class="active">
            <% else %>
              <li>
            <% end  %>
              <%= link_to 'Blog', blog_path %>
            </li>
            <% if request.params["action"] == "about" %>
              <li class="active">
            <% else %>
              <li>
            <% end  %>
              <%= link_to 'Über mich', about_path %>
            </li>
            <% if request.params["action"] == "contact" %>
              <li class="active">
            <% else %>
              <li>
            <% end  %>
              <%= link_to 'Kontakt', contact_path %>
            </li>
          </ul>
        </div>
        <div class="span1.5" id="navicol_2">
          <!-- <% if !@story_categories.nil? %> -->
            <ul class="nav nav-list"> 
              <% for category in @story_categories %>
                <% if category == @selected_category %>
                  <li class="active">
                <% else %>
                  <li>
                <% end  %>
                  <%= link_to category.name, stories_path + '/' + category.url_name %>
                </li>
              <% end %>
            </ul>
          <!-- <% end %> -->
        </div>
        <div class="span1.5" id="navicol_3">
            <ul class="nav nav-list">
              <% if !@stories.nil? %>
                <% for article in @stories %>
                  <% if article == @selected_article %>
                    <li class="active">
                  <% else %>
                    <li>
                  <% end  %>
                    <%= link_to article.title, stories_path + '/' + 
                      @selected_category.url_name + '/' + article.url_title %>
                  </li>
                <% end %>
              <% end %>
            </ul>
        </div>
        <div class="span6.5">
          <div class="">
            <%= render 'shared/message' %>
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="row">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>