<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
    
    <div class="container">
      <div class="row">
        <div id="logo_name_ab">
          <h1>Alexander Bühler</h1>
          <h2>Journalist</h2>
        </div>
      </div>    
      <div class="row">
        <% if !@story_categories.nil? %> 
          <div class="span1.5" id="navicol_1">
            <ul class="nav nav-list">
              <li class="nav-header">
              </li>
              <li class="active">
                <%= link_to 'Stories', '#' %>
              </li>
              <li>
                <%= link_to 'Radio', '#' %>
              </li>
              <li>
                <%= link_to 'TV', '#' %>
              </li><li>
                <%= link_to 'Corporate', '#' %>
              </li><li>
                <%= link_to 'Blog', '#' %>
              </li><li>
                <%= link_to 'Über mich', about_path %>
              </li><li>
                <%= link_to 'Kontakt', contact_path %>
              </li>
            </ul>
          </div>
          <div class="span1.5" id="navicol_2">
            <!-- <% if !@story_categories.nil? %> -->
              <ul class="nav nav-list">
                <li class="nav-header">
                </li>
              <!--   <li class="active">
                  <%= link_to 'Item 1', '#' %>
                </li>
                <li>
                  <%= link_to 'Item 2', '#' %>
                </li> -->
                <% for category in @story_categories %>
                  <li>
                    <%= link_to category.name, '#' %>
                  </li>
                <% end %>
              </ul>
            <!-- <% end %> -->
          </div>
          <div class="span1.5" id="navicol_3">
              <ul class="nav nav-list">
                <li class="nav-header">
                </li>
                <% if !@stories.nil? %>
                  <% for article in @stories %>
                    <li>
                      <%= link_to article.title, '#' %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
          </div>
        <% end %>
        <div class="span6.5">
          <div class="">
            <%= yield %>
            <%= render 'layouts/footer' %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>