<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= render 'shared/favicon' %>     
  </head>
  <body>
    <div class="container_shadow">
      <div class="container" id="header_section">
          <%= render 'layouts/header' %> 
      </div>
      <div class="container">
        <div class="container_inner">  
          <div class="row">
            <div class="span5">
              <%= render 'shared/alexander_buehler' %>
            </div>
            <div class="span5">
              <%= render 'shared/status_message' %>
            </div>
          </div>
          <%= render 'shared/message' %>
          <div class="row">
            <div class="span3 line_box">
              <%= render 'layouts/nav_col_1' %>
            </div>
            <div class="span line_box">
              <div class="span7" id="content_section">
                <%= yield %>
              </div>
              <div class="span1.5" id="sidebar_right">
              <%= render 'shared/sidebar_right' %>  
              </div> 
            </div>
          </div>
          <div class="row">
              <%= render 'layouts/footer' %>
          </div>
        </div>
      </div>
    </div>  
    <%= render 'shared/container_bottom' %>
  </body>
</html>