<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
    
    <div class="container">
      <div class="container_inner">  
        <div class="row">
          <%= render 'shared/language_switch' %>
        </div>
        <div class="row">
          <%= render 'shared/alexander_buehler' %>
        </div>
        <div class="row">
          <%= render 'layouts/nav_col_1' %>
          <div class="span7 offset1">
            <div class="row">
              <%= render 'shared/message' %>
              <%= yield %>
            </div>
          </div>
          <%= render 'shared/sidebar_right' %>
        </div>
        <div class="row">
            <%= render 'layouts/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>